<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true" />
	</appSettings>
	
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add
                    name="textWriterTraceListener"
                    type="System.Diagnostics.TextWriterTraceListener"
                    initializeData="c:\tmp\log4net.txt" />
			</listeners>
		</trace>
	</system.diagnostics>

	<connectionStrings>
		<add name="ConnectionString1" connectionString="Data Source=localhost; Persist Security Info=True; Initial Catalog=upf;Integrated Security=True:User ID=testUser2;Password=1234;"  providerName="System.Data.SqlClient"  />
	</connectionStrings>

	<log4net>
		<root>
			<level value="Debug" />
			<appender-ref ref="LogerManager" />
			<appender-ref ref="Performance" />
			<appender-ref ref="AdoNetAppender" />
		</root>
		<appender name="LogerManager" type="log4net.Appender.FileAppender">
			<file value="D:\Repositorios-SmartGit\TextilSoft\Logs\LogerManager.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] %line - %message%newline" />
			</layout>
		</appender>

		<appender name="Performance" type="log4net.Appender.FileAppender">
			<file value="D:\Repositorios-SmartGit\TextilSoft\Logs\Performance.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] %line - %message%newline" />
			</layout>
		</appender>

		<logger additivity="false" name="Performance">
			<level value="DEBUG"/>
			<appender-ref ref="Performance" />
		</logger>

		<logger additivity="false" name="LogerManager">
			<level value="DEBUG"/>
			<appender-ref ref="LogerManager" />
		</logger>

		<logger additivity="false" name="AdoNetAppender">
			<level value="ALL"/>
			<appender-ref ref="AdoNetAppender" />
		</logger>
		
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<connectionString value="Data Source=localhost; Persist Security Info=True; Initial Catalog=upf;Integrated Security=True;"/>
			<commandText value="
				INSERT INTO Log
					([Date],[Thread],[Level],[Logger],[Message],[Exception]) 
				VALUES 
					(@log_date, @thread, @log_level, @logger, @message, @exception)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
	</log4net>
</configuration>